.fs-small{
    font-size: 8px;
}

.user-item {
  display: flex;
  align-items: center;
}

.user-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.user-name {
  margin: 0;
  text-transform: capitalize; 
}
