<div class="container pt-5 mt-5">

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg rounded-4">
        <div class="card-body p-4">
          <h3 class="text-center mb-4 text-main">Forget Your Password</h3>
          <p class="text-secondary fs-6">Please enter your email address below. <br>We will send you a verification code
            to reset your password.</p>

          <!-- Success message -->
          <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }} 
          </div>

          <!-- Error message -->
          <div *ngIf="responseErrorMessage" class="alert alert-danger">
            {{ responseErrorMessage }}
          </div>


          <!-- Form Start -->
          <form [formGroup]="ForgetPasswordForm" (ngSubmit)="handleForgetPassword()">
            <!-- Email -->
            <div class="mb-3">
              <label for="email" class="form-label ">Email<span class="text-danger">*</span></label>
              <input id="email" type="email" formControlName="email" class="form-control" autocomplete="off" />
              <div *ngIf="email?.touched && email?.invalid" class="  text-danger mt-2">
                <p *ngIf="email?.errors?.['required']">Email is required</p>
                <p *ngIf="email?.errors?.['email']">Invalid email format</p>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="d-flex justify-content-center">
              <button type="submit" [disabled]="ForgetPasswordForm.invalid || isLoading"
                class="btn border-dark-subtle submit-btn">
                <span *ngIf="!isLoading"> Sign In </span>
                <span *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>