img {

    height: 200px;
}
.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #222;
  position: relative;
  display: inline-block;
}



.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: var(--main-color);
  border-radius: 3px;
}
