
<div class="row g-0 ">
    <div class="col-9  ">
        <div>

            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide> <img class="w-100 main-img " src="images/main-slider-3.jpeg"></ng-template>
                <ng-template carouselSlide> <img class="w-100 main-img" src="images/slide-2.jpeg"></ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="col-3 ">
        <div>
            <img class="w-100 small-img" src="images/main-slider-2.jpeg">
            <img class="w-100 small-img" src="images/main-slider-1.jpeg">
        </div>
    </div>
</div>
