.main-img{
    height: 400px;
    object-fit: cover contain ;
}
.small-img{
    height: 200px;
    object-fit: cover contain ;
}

@media screen and (max-width: 768px) {
    .main-img{
        height: 300px;
    }
    .small-img{
        height: 150px;
    }
}
