 <div class="container pt-5 mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg rounded-4">
        <div class="card-body p-4">
          <h3 class="text-center mb-4 text-main">Reset Your Password</h3>

          <!-- Error Message from Backend -->
          <div *ngIf="responseErrorMessage" class="alert alert-danger pb-0 px-2 text-danger">
            <p>{{ responseErrorMessage }}</p>
          </div>

          <!-- Form Start -->
          <form [formGroup]="ResetPasswordForm" (ngSubmit)="handleResetPassword()">
            
            <!-- Email -->
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                id="email"
                formControlName="email"
                type="email"
                class="form-control"
                autocomplete="off"
              />
              <div *ngIf="ResetPasswordForm.get('email')?.touched && ResetPasswordForm.get('email')?.invalid" class="alert alert-danger pb-0 px-2 text-danger">
                <p *ngIf="ResetPasswordForm.get('email')?.errors?.['required']">Email is required</p>
                <p *ngIf="ResetPasswordForm.get('email')?.errors?.['email']">Invalid email format</p>
              </div>
            </div>

            <!-- NewPassword -->
<div class="mb-3">
  <label for="NewPassword" class="form-label">New Password</label>
  <input
    id="NewPassword"
    formControlName="newPassword"
    type="password"
    class="form-control"
    autocomplete="off"
  />

  <div *ngIf="ResetPasswordForm.get('newPassword')?.touched && ResetPasswordForm.get('newPassword')?.invalid" class="alert alert-danger pb-0 px-2 text-danger">
    <p *ngIf="ResetPasswordForm.get('newPassword')?.errors?.['required']">Password is required</p>
    <p *ngIf="ResetPasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 6 characters long</p>
    <p *ngIf="ResetPasswordForm.get('newPassword')?.errors?.['pattern']">
      Password must contain at least one uppercase letter, one lowercase letter, and one number
    </p>
  </div>
</div>




                   <!-- Submit Button -->
            <div class="d-flex justify-content-center">
              <button [disabled]="ResetPasswordForm.invalid || isLoading" class="btn border-dark-subtle submit-btn">
                <span *ngIf="!isLoading">Sign In</span>
                <span *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></span>
              </button>
            </div>
            </form>
          <!-- Form End -->
  </div>
</div>
